
table a, table, tbody, tr, th, td, table caption {
font-family: Verdana, arial, helvetica, sans-serif;
color:#000;
font-size:12px;
text-transform:capitalize;
}
table, table caption {
}
tbody {
background:#69c;
}
table a {
font-weight:bold;
}
table a:visited {
color:#333;
}
table a:hover {
text-decoration:none;
color:#69c; 
}
table {
border-bottom:4px outset #9cf;
}
table, table caption {
border-left:4px outset #9cf;
border-right:4px outset #9cf;
}
table caption {
border-top:4px outset #9cf;
font-size:20px;
font-weight:bold;
}
tbody tr:hover, th, tfoot, tfoot th {
background:#9cf;
}
tbody tr:hover td, tbody tr:hover th {
border:1px solid;
border-color:#000 #fff #fff #000;
}
th, td {
border:1px solid;
border-color:#fff #000 #000 #fff;
}
td, th, table caption {
padding:5px;
vertical-align:middle;
}
tfoot td, tfoot th, thead th {
font-weight:bold;
white-space:nowrap;
font-size:14px;
}
